# ---- RStudio & R User Files ----
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history

# ----- Outputs & Transient ------
outputs/
build/drift/

# ------ Editors / OS junk -------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ------ renv Local Caches -------
renv/library/
renv/staging/
!renv/activate.R
